:global {
  font-size: 14px !important;
    .dd {
      width: 20%;
      float: left;
    }
    .filterDiv{
      display: inline-block;
      width:100%;
    }
    .cancelButton{
      float: left;
      
    }
    .saveButton{
      float: right;
      
    }
    .ActionPlanPageContainer{
      overflow: hidden 
    }
    [id$='label']{
      font-weight: bold;
    }
    // input[class^="jss"]{
    //   border: 0px !important;
    //   font-size: 14px !important; 
    // }
    input.jss105.jss90.jss110.jss111{
      border: 0px !important;
      font-size: 14px !important; 
    }
  }
  