:global {
    .dd {
      width: 20%;
      float: left;
    }
    .filterDiv{
      display: inline-block;
      width:100%;
    }
    .cancelButton{
      float: left;
      
    }
    .saveButton{
      float: right;
      
    }
    .ActionPlanPageContainer{
      overflow: hidden 
    }
    
  }
  