:global {
  font-size: 14px !important;
    .ddBrigade {
      width: 15%;
      float: left;
    }
    .ddRating {
      width: 10%;
      float: left;
    }
    .ddViability {
      width: 20%;
      float: left;
    }
    .ddEndState {
      width: 45%;
      float: left;
    }
    .ddClassification {
      width: 10%;
      float: left;
    }
    .cb{
      margin-top:10px;
      font-weight: bold;
      width: 100%;
      text-align: left;
    }
    .filterDiv{
      display: inline-block;
      width:100%;
    }
    .cancelButton{
      float: left;
      
    }
    .saveButton{
      float: right;
      
    }
    .ActionPlanPageContainer{
      overflow: hidden 
    }
    [id$='label']{
      font-weight: bold;
    }

    button[disabled][disabled] {
        background-color:transparent !important;
    }
    input[type='text']{
        border:none;  
   }

   textarea {
     font-size: 14px !important;
     width: 250px !important;
   }

  th{
    background-Color: #E31A1A !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 14px !important;
  }
  td {
    
    padding: 4px !important;
    width: 200px;
  }
  h6 {
    
    font-size: 20px !important;
    font-weight: bold !important;
  }

  th {
    font-size:14px !important;
    font-weight:800 !important;
    padding: 1px !important;
    
  }

  .ms-Dropdown-optionText {
    white-space: normal;
    }
  .ms-Checkbox-text{
    font-weight:bold
  }
  .ms-Dialog-subText{
    font-weight:bold
  }
  .ms-Dialog-title{
    font-weight:bold
  }
  // .jss151{
  //   padding:4px !important;
  // }
  // .jss59 {
  //   font-size:30px !important;
  // }
}
  