:global {
  .ms-Label {
    font-weight: bold !important;
  }
  
  .PanelPrimButton{
    margin-top: 50px;
  }
  .PanelDefButton{
    margin-top: 50px;
  }
  
  .ms-Button--default{
    float:right;
  }
  
  .dateInput {
    border-style: solid;
    border-width: 1px;
  }

}
  