:global {
  .detailListHeader {

    font-weight: bold;
  }
  .middleAlignDD{
    margin-left: 30%;

    width:700px;
    min-width: 602px;
    
    
    @media (max-width: 700px) {
      min-width: 0;
  }
  }
  .middleAlignTransfer{
     margin: 0;
    // width: 40%;
     min-width: 610px;

    @media (max-width: 700px) {
        min-width: 0;
    }
    
  }
  .controlWidth{
    width: 603px;
  }

  .button{
    width: 100%;
    background-color:#E31A1A;
    color:#ffff;
  }
  .buttonD{
    width: 100%;
    background-color:#D9D9D9 !important;
    color:#ffff;
  }
}
