:global {
  .detailListHeader {
    //height: 80vh;
    
    font-weight: bold;
  }
  .middleAlignDD{
    margin-left: 30%;
    width: 29%;

  }
  .middleAlignTransfer{
    margin-left: 30%;
    width: 30%;

  }
  .button{
    width: 100%;
  }
}
